@font-face {
    font-family: sebb;
    src: url(./sf-pro-display_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

.main{
    height: 90%;
    width: 100%;
    background: #000;
    font-family: sebb;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    height: 7vh;
    width: 100%;
    background: #1D1D1F;
    justify-content: center;
    gap: 36px;
}

.nav h4{
    font-weight: 300;
    font-size: 13px;
}

.hero{
    width: 100%;
    height: 95%;
    text-align: center;
    margin-top: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-size: cover;
   background-position: center;
}

.texts h1{
    font-size: 60px;
    font-weight: 600;
}

.hero h3{
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 20px;
}

.hero button{
    background: #0077ED;
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    font-size: 17px;
}

.ndbut{
    background: trasparent;
    border: 1px solid #0077ED;
}

.buttons{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}

