*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .34fr 0.66fr;
    gap: 5px;
    
    grid-template-areas: "nav1 nav1 nav2"
                         "left center right"
                         
}

.nav1{
    background-color: coral;
    grid-area: nav1;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135630.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    
}
.nav2{
    background-color: tomato;
    grid-area: nav2;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135638.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;
    
}

.left{
    
    grid-area: left;
    display: grid;
    gap:5px;
    grid-template-rows: 0.75fr 0.25fr;
    grid-template-areas: "leftdivup"
                         "leftdivdown";
}

.leftdivup{
    
    grid-area: leftdivup;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135646.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;
}

.leftdivdown{
   
    grid-area: leftdivdown;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135730.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;
}


.center{
    
    grid-area: center;
    gap:5px;

    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "centertop"
                         "centerdown";  
}
.centertop{
    background-color: darkgoldenrod;
    grid-area: centertop;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135658.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;
}

.centerdown{
    background-color: darkorchid;
    grid-area: centerdown;background-image: url(./img/Screenshot\ 2025-10-11\ 135719.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;
}


.right{
    background-color: greenyellow;
    grid-area: right;
    background-image: url(./img/Screenshot\ 2025-10-11\ 135709.png);
    background-size: cover;
    background-position: center;
     border-radius: 10px;

}

