@font-face {
    font-family: main;
    src: url(./fonts/Helvetica.woff);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cbf4b076-baf2-4e20-bf43-37175271e72c/dfwffqf-decb8885-404f-4c93-90ba-f902b7328c78.png/v1/fill/w_1280,h_800,q_80,strp/demon_slayer_4k_wallpaper_by_vilex45_dfwffqf-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODAwIiwicGF0aCI6Ii9mL2NiZjRiMDc2LWJhZjItNGUyMC1iZjQzLTM3MTc1MjcxZTcyYy9kZndmZnFmLWRlY2I4ODg1LTQwNGYtNGM5My05MGJhLWY5MDJiNzMyOGM3OC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.CmS2LbHyLZQzRU49EOnp9jAEfTd8sqeDtaLgdu7RxE8);
    background-size: cover;
    background-position:center;
    position: relative;
    font-family: main;
}

.nav{
    /* position: absolute; */
    width: 100%;
    height: 15vh;
    color: white;
    background-color:rgba(0,0, 0, 0.5);
    display: flex;
    justify-content:flex-start;
    gap: 10vw;
    align-items: center;
    
    
}

.nav img{
    height: 125%; 
     filter: invert(100%);
  -webkit-filter: invert(100%);
  margin-left: 2vw;
    
}

.titles{
    display: flex;
    justify-content:flex-start;
    gap: 10vw;
    align-items: center;
}

.titles h2{
    font-size: 40px;
    font-weight: 500;
}

.titles button{
    position: absolute;
    right: 7%;
    border-radius: 10px;
    font-size: 50px;
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border-color: white;
}

.hero{
    width: 100%;
    height: 85vh;
    position: relative;
}

 .textt h1{
    position: absolute;
    top: 18vh;
    left: 4vw;
    font-family: main; 
    font-weight: 500;
    color: rgb(255, 183, 89);
    font-size: 220px;
    width: 50%;
    
}

button{
    margin-top: 3vh;
    padding: 10px 20px;
    font-size: 20px;
    color: blanchedalmond;  

    border-radius: 10px;
    border-color: blanchedalmond;
    
    background: transparent;
} 
